@import '~bootstrap/scss/functions';
@import '../../../../content/scss/_variables';
@import '../../../../content/scss/_bootstrap-variables';

.title {
  font-size: 20px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 10px;
  display: inline-block;
  mat-icon {
    vertical-align: text-top;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
  mat-icon {
    vertical-align: text-top;
  }
}

.step:not(:first) {
  margin-top: 20px;
}

.cover-image {
  .image {
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
  }

  .remove-image {
    position: absolute;
    right: 18px;
    margin-top: 15px;
    background: $secondary;
    color: #eee;
    font-size: 20px;
    padding-left: 2px;
    line-height: 25px;
    border-radius: 50%;
  }
  .add-cover-image {
    text-align: center;
    height: 180px;
    border: 1px solid lighten($primary, 30%);
    border-radius: 4px;
    background-color: lighten($primary, 30%);
    font-size: 18px;
    font-weight: 600;
    color: #eee;
    padding: 30px;
    mat-icon {
      transform: scale(5);
      margin: 30px;
      color: lighten($secondary, 45%);
    }
  }
}

.file-input {
  display: none;
}

.mat-button {
  float: right;
  background-color: $secondary;
  font-weight: 600;
  color: #eee;
  font-size: 16px;
  margin-top: 10px;
  margin-right: -7px;
}

.color-select {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px;
  div {
    width: 35px;
    display: inline-block;
    height: 35px;
    border-radius: 25px;
    &.color1 {
      background-color: lighten($primary, 30%);
      border: 2px solid $primary;
    }
    &.color2 {
      background-color: lighten(#e6dd89, 10%);
      border: 2px solid #e6dd89;
    }
    &.color5 {
      background-color: lighten($secondary, 20%);
      border: 2px solid $secondary;
    }
    &.color4 {
      background-color: lighten(#a0dd92, 10%);
      border: 2px solid #a0dd92;
    }
    &.color3 {
      background-color: lighten(#eac2e3, 10%);
      border: 2px solid #eac2e3;
    }
  }
}

.order-select {
  width: calc(100% - 40px);
  margin: 10px 20px;
  height: 35px;
  border-radius: 18px;
}

:host ::ng-deep {
  mat-button-toggle-group {
    * {
      height: 35px;
    }
  }

  mat-button-toggle {
    width: 50%;

    span {
      margin-top: -20px;
    }
  }

  .mat-form-field-outline {
    background: white !important;
    border-radius: 6px;
    opacity: 1;
  }
}

.background-journey {
  padding: 5px;
  border-radius: 4px;
  &.color1 {
    background-color: lighten($primary, 40%);
    border: 2px solid lighten($primary, 20%);
  }
  &.color2 {
    background-color: lighten(#e6dd89, 20%);
    border: 2px solid #e6dd89;
  }
  &.color5 {
    background-color: lighten($secondary, 30%);
    border: 2px solid $secondary;
  }
  &.color4 {
    background-color: lighten(#a0dd92, 20%);
    border: 2px solid #a0dd92;
  }
  &.color3 {
    background-color: lighten(#eac2e3, 10%);
    border: 2px solid #eac2e3;
  }
}
