.header {
  display: flex;
  justify-content: space-between;
  .filters {
    font-size: 20px;
    font-weight: 600;
  }
}

.example-container {
  position: absolute;
  top: -5px;
  bottom: 20px;
  left: 0;
  right: 0;
  height: calc(100vh - 90px);
}

mat-checkbox {
  display: block;
  margin: 2px 50px 0px 10px;
}

.stories-padding {
  padding: 0 10px;
}

.title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

:host ::ng-deep {
  .mat-sidenav {
    width: 220px;
  }
}
