<div class="journey" [routerLink]="'/journey/' + journey.id" [state]="{ story: storyToLink, journey: journey }">
  <div class="journey-image">
    <img [src]="journey.coverImage" />
  </div>
  <div class="journey-text">
    <span class="title">{{ journey.title }}</span>
    <br />
    <div class="bottom">
      <span class="author">
        <img class="authorPic" [src]="userImage" />
        <span class="authorText">by {{ journey.author }}</span>
        <span *ngIf="stories && stories.length > 1">&nbsp;&nbsp; {{ stories.length + ' stories' }} </span>
        <span *ngIf="stories && stories.length === 1">&nbsp;&nbsp; {{ stories.length + ' story' }} </span>
      </span>

      <span class="date">{{ returnDate(journey.createdDate) }}</span>
    </div>
  </div>
</div>
